.gallery h2 {
    max-width: 400px;
}

.gallery p {
    max-width: 453px;
    padding-top: 20px;
}

.gallery-btn button {
    padding: 10px 20px;
    border: none;
    background: var(--text1-color);
    color: var(--text5-color);
    font-size: 17px;
    margin-top: 20px;
}

.gallery-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 428px;
    gap: 20px;
}

.gallery-images img {
    width: 170px;
}

.gallery-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 10px 20px 10px;
}